<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4> Popular tags </h4>
          <hr></hr>
          {% for keyword in keywords %}
          <form method="post" action="{{ url_for('get_cause') }}">
            <button id="{{ keyword }}" style="width: 200px" type="submit" name="keyword" value="{{ keyword }}">{{ keyword }}</button>
          </form>
          {% endfor %}
        </div>
        <div class="col-md-8">
          <h4> Customized News Feed </h4>
          <hr></hr>
          {% for article in articles %}
          <div class="row">
            <h6> {{ article['title'].encode('ascii','ignore') }} </h6>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p> {{ article['author'] }} </p>
            </div>
            <div class="col-md-6">
              <p> {{ article['date'] }} </p>
            </div>
          </div>
          <div class="row">
            <p> {{ article['content'][:250] + '...' }} </p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6> Tags </h6>
              {% for tag in article['tags'] %}
              <form method="post" action="{{ url_for('get_cause') }}">
                <button id="{{ tag }}" style="width: 200px" type="submit" name="keyword" value="{{ tag }}">{{ tag }}</button>
              </form>
              {% endfor %}
            </div>
            <div class="col-md-6">
              <h6> Tagged Ministers </h6>
              {% for minister in article['taggedMinisters'] %}
              <form method="post" action="{{ url_for('get_minister', ministerName=minister) }}">
                <button id="{{ minister }}" style="width: 200px" type="submit" name="minister" value="{{ minister }}">{{ minister }}</button>
              </form>
              {% endfor %}
            </div>
          </div>
          <hr></hr>
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
